## Downloaded Files
OrdersRetrieved/
InvoicesRetrieved/ 
CatalogsRetrieved/

## History Files
HistoryJSON/
HistoryXML/

## Origin Files
OriginXML/
OriginJSON/

## Log Files
LogFile/

##Customer Specific Config Files
MothersConfig.json
MothersstoreMap.json
MothersUpdates.zip
